<%- include("partials/header") %>

    <header class="container">


        <div class="border p-5">
            <h4>Mascarillas para niños</h4>

            <div class="row">

                <div class="col-md-4">

                    <div class="row">
                        <div class="col s12 m7">
                            <div class="card">
                                <div class="card-image">
                                    <img src="img/niño1.jpg" alt="">
                                    <span class="card-title">Estilos y dibujos animados 1</span>
                                </div>
                                <div class="card-content font-weight-bold">

                                    <p>Nombre de Articulo <span class=" badge badge-primary text-white mb-2">Infantil 1</span></p>
                                    <br>
                                    <p>Precio <span class="text-warning">₡ 2500</span></p>

                                    <p class="mt-2 mb-2 text-info">Contactos</p>
                                    <p>Telefono <span class="text-warning">+506 7045 1147</span></p>
                                    <a href="/nf/infantil1" class="mt-2 mb-2"><span class="text-success">Whatsapp </span> <span class="text-info">+506 7045 1147</span></a>
                                    <p>Correo <span class="text-info">miltonmercado92@gmail.com</span></p>
                                </div>
                                <div class="card-action">
                                    <a href="/correo">Correo Electronico</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">

                    <div class="row">
                        <div class="col s12 m7">
                            <div class="card">
                                <div class="card-image">
                                    <img src="img/niño2.jpg" alt="">
                                    <span class="card-title">Estilos y dibujos animados 2</span>
                                </div>
                                <div class="card-content font-weight-bold">

                                    <p>Nombre de Articulo <span class=" badge badge-primary text-white mb-2">Infantil 2</span></p>
                                    <br>
                                    <p>Precio <span class="text-warning">₡ 2500</span></p>

                                    <p class="mt-2 mb-2 text-info">Contactos</p>
                                    <p>Telefono <span class="text-warning">+506 7045 1147</span></p>
                                    <a href="/nf/infantil2" class="mt-2 mb-2"><span class="text-success">Whatsapp </span> <span class="text-info">+506 7045 1147</span></a>
                                    <p>Correo <span class="text-info">miltonmercado92@gmail.com</span></p>
                                </div>
                                <div class="card-action">
                                    <a href="/correo">Correo Electronico</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row">
                        <div class="col s12 m7">
                            <div class="card">
                                <div class="card-image">
                                    <img src="img/niño3.jpg" alt="">
                                    <span class="card-title">Estilos y dibujos animados 3</span>
                                </div>
                                <div class="card-content font-weight-bold">

                                    <p>Nombre de Articulo <span class=" badge badge-primary text-white mb-2">Infantil 3</span></p>
                                    <br>
                                    <p>Precio <span class="text-warning">₡ 2500</span></p>

                                    <p class="mt-2 mb-2 text-info">Contactos</p>
                                    <p>Telefono <span class="text-warning">+506 7045 1147</span></p>
                                    <a href="/nf/infantil3" class="mt-2 mb-2"><span class="text-success">Whatsapp </span> <span class="text-info">+506 7045 1147</span></a>
                                    <p>Correo <span class="text-info">miltonmercado92@gmail.com</span></p>
                                </div>
                                <div class="card-action">
                                    <a href="/correo">Correo Electronico</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">

                <div class="col-md-4">

                    <div class="row">
                        <div class="col s12 m7">
                            <div class="card">
                                <div class="card-image">
                                    <img src="img/niño5.jpg" alt="">
                                    <span class="card-title">Estilos y dibujos animados 5</span>
                                </div>
                                <div class="card-content font-weight-bold">

                                    <p>Nombre de Articulo <span class=" badge badge-primary text-white mb-2">Infantil 5</span></p>
                                    <br>
                                    <p>Precio <span class="text-warning">₡ 2500</span></p>

                                    <p class="mt-2 mb-2 text-info">Contactos</p>
                                    <p>Telefono <span class="text-warning">+506 7045 1147</span></p>
                                    <a href="/nf/infantil5" class="mt-2 mb-2"><span class="text-success">Whatsapp </span> <span class="text-info">+506 7045 1147</span></a>
                                    <p>Correo <span class="text-info">miltonmercado92@gmail.com</span></p>
                                </div>
                                <div class="card-action">
                                    <a href="/correo">Correo Electronico</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">

                    <div class="row">
                        <div class="col s12 m7">
                            <div class="card">
                                <div class="card-image">
                                    <img src="img/niño4.jpg" alt="">
                                    <span class="card-title">Estilos y dibujos animados 4</span>
                                </div>
                                <div class="card-content font-weight-bold">

                                    <p>Nombre de Articulo <span class=" badge badge-primary text-white mb-2">Infantil 4</span></p>
                                    <br>
                                    <p>Precio <span class="text-warning">₡ 2500</span></p>

                                    <p class="mt-2 mb-2 text-info">Contactos</p>
                                    <p>Telefono <span class="text-warning">+506 7045 1147</span></p>
                                    <a href="/nf/infantil4" class="mt-2 mb-2"><span class="text-success">Whatsapp </span> <span class="text-info">+506 7045 1147</span></a>
                                    <p>Correo <span class="text-info">miltonmercado92@gmail.com</span></p>
                                </div>
                                <div class="card-action">
                                    <a href="/correo">Correo Electronico</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">

                </div>
            </div>
        </div>

        <div class="border p-5">
            <h4>Mascarillas para Adolecentes y Adultos</h4>

            <div class="row">

                <div class="col-md-4">

                    <div class="row">
                        <div class="col s12 m7">
                            <div class="card">
                                <div class="card-image">
                                    <img src="img/mayor1.jpg" alt="">
                                    <span class="card-title">Color Rosa atractivo </span>
                                </div>
                                <div class="card-content font-weight-bold">

                                    <p>Nombre de Articulo <span class=" badge badge-primary text-white mb-2">Rosa 1</span></p>
                                    <br>
                                    <p>Precio <span class="text-warning">₡ 2500</span></p>

                                    <p class="mt-2 mb-2 text-info">Contactos</p>
                                    <p>Telefono <span class="text-warning">+506 7045 1147</span></p>
                                    <a href="/ms/rosa1" class="mt-2 mb-2"><span class="text-success">Whatsapp </span> <span class="text-info">+506 7045 1147</span></a>
                                    <p>Correo <span class="text-info">miltonmercado92@gmail.com</span></p>
                                </div>
                                <div class="card-action">
                                    <a href="/correo">Correo Electronico</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">

                    <div class="row">
                        <div class="col s12 m7">
                            <div class="card">
                                <div class="card-image">
                                    <img src="img/mayor5.jpg" alt="">
                                    <span class="card-title">Estilo pirata.</span>
                                </div>
                                <div class="card-content font-weight-bold">

                                    <p>Nombre de Articulo <span class=" badge badge-primary text-white mb-2">pirata 1</span></p>
                                    <br>
                                    <p>Precio <span class="text-warning">₡ 2500</span></p>

                                    <p class="mt-2 mb-2 text-info">Contactos</p>
                                    <p>Telefono <span class="text-warning">+506 7045 1147</span></p>
                                    <a href="/ms/pirata1" class="mt-2 mb-2"><span class="text-success">Whatsapp </span> <span class="text-info">+506 7045 1147</span></a>
                                    <p>Correo <span class="text-info">miltonmercado92@gmail.com</span></p>
                                </div>
                                <div class="card-action">
                                    <a href="/correo">Correo Electronico</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row">
                        <div class="col s12 m7">
                            <div class="card">
                                <div class="card-image">
                                    <img src="img/mayor3.jpg" alt="">
                                    <span class="card-title">Estilos Oscuro </span>
                                </div>
                                <div class="card-content font-weight-bold">

                                    <p>Nombre de Articulo <span class=" badge badge-primary text-white mb-2">oscuro 1</span></p>
                                    <br>
                                    <p>Precio <span class="text-warning">₡ 2500</span></p>

                                    <p class="mt-2 mb-2 text-info">Contactos</p>
                                    <p>Telefono <span class="text-warning">+506 7045 1147</span></p>
                                    <a href="/ms/oscuro1" class="mt-2 mb-2"><span class="text-success">Whatsapp </span> <span class="text-info">+506 7045 1147</span></a>
                                    <p>Correo <span class="text-info">miltonmercado92@gmail.com</span></p>
                                </div>
                                <div class="card-action">
                                    <a href="/correo">Correo Electronico</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">

                <div class="col-md-4">

                    <div class="row">
                        <div class="col s12 m7">
                            <div class="card">
                                <div class="card-image">
                                    <img src="img/mayor4.jpg" alt="">
                                    <span class="card-title">Estilos Oscuro 2</span>
                                </div>
                                <div class="card-content font-weight-bold">

                                    <p>Nombre de Articulo <span class=" badge badge-primary text-white mb-2">Oscuro 2</span></p>
                                    <br>
                                    <p>Precio <span class="text-warning">₡ 2500</span></p>

                                    <p class="mt-2 mb-2 text-info">Contactos</p>
                                    <p>Telefono <span class="text-warning">+506 7045 1147</span></p>
                                    <a href="/ms/oscuro2" class="mt-2 mb-2"><span class="text-success">Whatsapp </span> <span class="text-info">+506 7045 1147</span></a>
                                    <p>Correo <span class="text-info">miltonmercado92@gmail.com</span></p>
                                </div>
                                <div class="card-action">
                                    <a href="/correo">Correo Electronico</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">

                    <div class="row">
                        <div class="col s12 m7">
                            <div class="card">
                                <div class="card-image">
                                    <img src="img/mayor2.jpg" alt="">
                                    <span class="card-title">Hermosa convinacion de colores</span>
                                </div>
                                <div class="card-content font-weight-bold">

                                    <p>Nombre de Articulo <span class=" badge badge-primary text-white mb-2">blancoNegro</span></p>
                                    <br>
                                    <p>Precio <span class="text-warning">₡ 2500</span></p>

                                    <p class="mt-2 mb-2 text-info">Contactos</p>
                                    <p>Telefono <span class="text-warning">+506 7045 1147</span></p>
                                    <a href="/ms/blancoNegro" class="mt-2 mb-2"><span class="text-success">Whatsapp </span> <span class="text-info">+506 7045 1147</span></a>
                                    <p>Correo <span class="text-info">miltonmercado92@gmail.com</span></p>
                                </div>
                                <div class="card-action">
                                    <a href="/correo">Correo Electronico</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row">
                        <div class="col s12 m7">
                            <div class="card">
                                <div class="card-image">
                                    <img src="img/mayor6.jpg" alt="">
                                    <span class="card-title">Hermoso estilo leopardo</span>
                                </div>
                                <div class="card-content font-weight-bold">

                                    <p>Nombre de Articulo <span class=" badge badge-primary text-white mb-2">Colorido</span></p>
                                    <br>
                                    <p>Precio <span class="text-warning">₡ 2500</span></p>

                                    <p class="mt-2 mb-2 text-info">Contactos</p>
                                    <p>Telefono <span class="text-warning">+506 7045 1147</span></p>
                                    <a href="/ms/colorido" class="mt-2 mb-2"><span class="text-success">Whatsapp </span> <span class="text-info">+506 7045 1147</span></a>
                                    <p>Correo <span class="text-info">miltonmercado92@gmail.com</span></p>
                                </div>
                                <div class="card-action">
                                    <a href="/correo">Correo Electronico</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">

                <div class="col-md-4">

                    <div class="row">
                        <div class="col s12 m7">
                            <div class="card">
                                <div class="card-image">
                                    <img src="img/mayor8.jpg" alt="">
                                    <span class="card-title">Oscuro 3</span>
                                </div>
                                <div class="card-content font-weight-bold">

                                    <p>Nombre de Articulo <span class=" badge badge-primary text-white mb-2">Oscuro 3</span></p>
                                    <br>
                                    <p>Precio <span class="text-warning">₡ 2500</span></p>

                                    <p class="mt-2 mb-2 text-info">Contactos</p>
                                    <p>Telefono <span class="text-warning">+506 7045 1147</span></p>
                                    <a href="oscuro3" class="mt-2 mb-2"><span class="text-success">Whatsapp </span> <span class="text-info">+506 7045 1147</span></a>
                                    <p>Correo <span class="text-info">miltonmercado92@gmail.com</span></p>
                                </div>
                                <div class="card-action">
                                    <a href="/correo">Correo Electronico</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">

                    <div class="row">
                        <div class="col s12 m7">
                            <div class="card">
                                <div class="card-image">
                                    <img src="img/mayor7.jpg" alt="">
                                    <span class="card-title">Mascarilla en Color azul</span>
                                </div>
                                <div class="card-content font-weight-bold">

                                    <p>Nombre de Articulo <span class=" badge badge-primary text-white mb-2">Azul 1</span></p>
                                    <br>
                                    <p>Precio <span class="text-warning">₡ 2500</span></p>

                                    <p class="mt-2 mb-2 text-info">Contactos</p>
                                    <p>Telefono <span class="text-warning">+506 7045 1147</span></p>
                                    <a href="/ms/azul1" class="mt-2 mb-2"><span class="text-success">Whatsapp </span> <span class="text-info">+506 7045 1147</span></a>
                                    <p>Correo <span class="text-info">miltonmercado92@gmail.com</span></p>
                                </div>
                                <div class="card-action">
                                    <a href="/correo">Correo Electronico</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                </div>
            </div>
        </div>
    </header>

    <%- include("partials/footer") %>